<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='static/style.css'>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Rural Homes Finder</title>
</head>
<body>
    <div id='page-container'>
        <div id="content-wrap">
            <div class='container' id='search'>
                <h2 style="color: black; text-align: center;">Rural Realty</h2>
                <form action="{{ url_for('home') }}" method='post'>
                    <input type='text' id='search' name='search' placeholder="Address, City, State, or ZIP:"><br><br>
                    <label for='type'>Empty lot only?</label>
                    <input type='checkbox' id='type' name='type' value='type-land'>
                    <label for='price'>Max Price: </label>
                    <select name='buy-price' id='buy-price' style="visibility: visible">
                        <option value='None' selected>No Max</option>
                        <option value='price-na-25000'>25k</option>
                        <option value='price-na-50000'>50k</option>
                        <option value='price-na-100000'>100k</option>
                        <option value='price-na-150000'>150k</option>
                        <option value='price-na-200000'>200k</option>
                        <option value='price-na-250000'>250k</option>
                        <option value='price-na-300000'>300k</option>
                        <option value='price-na-500000'>500k</option>
                        <option value='price-na-750000'>750k</option>
                        <option value='price-na-1000000'>1M</option>
                    </select>
                    <label for='beds'>Bedrooms: </label>
                    <select id='beds' name='beds'>
                        <option value='None' selected>Any</option>
                        <option value='beds-1'>1+</option>
                        <option value='beds-2'>2+</option>
                        <option value='beds-3'>3+</option>
                        <option value='beds-4'>4+</option>
                        <option value='beds-5'>5+</option>
                    </select>
                    <label for='bath'>Bathrooms: </label>
                    <select id='bath' name='bath'>
                        <option value='None' selected>Any</option>
                        <option value='baths-1'>1+</option>
                        <option value='baths-1.5'>1.5+</option>
                        <option value='baths-2'>2+</option>
                        <option value='baths-3'>3+</option>
                        <option value='baths-4'>4+</option>
                    </select>
                    <label for='home-size'>Minimum Home Size: </label>
                    <select id='sqft' name='sqft'>
                        <option value='None' selected>Any</option>
                        <option value='sqft-500'>500+ Sqft</option>
                        <option value='sqft-1000'>1,000+ Sqft</option>
                        <option value='sqft-1500'>1,500+ Sqft</option>
                        <option value='sqft-2000'>2,000+ Sqft</option>
                        <option value='sqft-2500'>2,500+ Sqft</option>
                        <option value='sqft-3000'>3,000+ Sqft</option>
                        <option value='sqft-4000'>4,000+ Sqft</option>
                        <option value='sqft-5000'>5,000+ Sqft</option>
                    </select>
                    <label for='lot-size'>Minimum Lot Size: </label>
                    <select id='lot' name='lot'>
                        <option value='None' selected>Any</option>
                        <option value='lot-sqft-43560'>1+ Acres</option>
                        <option value='lot-sqft-87120'>2+ Acres</option>
                        <option value='lot-sqft-130680'>3+ Acres</option>
                        <option value='lot-sqft-217800'>5+ Acres</option>
                        <option value='lot-sqft-435600'>10+ Acres</option>
                        <option value='lot-sqft-653400'>15+ Acres</option>
                        <option value='lot-sqft-1089000'>25+ Acres</option>
                        <option value='lot-sqft-2178000'>50+ Acres</option>
                    </select>
                    <label for='hide-pend'>Hide Pending / Contingient?</label>
                    <input type='checkbox' id='hide-pend' name='hide-pend' value='pnd-hide'>  
                    <input type='submit' value='Submit'>
                  </form> 
            </div>
        </div>
    </div>
</body>
<footer>
    <p style="color: white; height: auto;">Made with ❤️ by Samuel Facey 2022</p>
</footer>
</html>