<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/static/style.css'>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">     
    <title>Property View</title>
</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
            <div class="container">
                <a href="{{ details['link'] }}" target="_blank" rel="noopener noreferrer">
                    <img src="{{ details['img'] }}" alt="" id="thumbnail">
                </a>
                <h2>{{ details['address'] }}</h2>
                <h3>{{ details['price'] }}</h3>
                <h3>{{ details['details'][0] }} {{ details['details'][1] }}</h3>
                <h3>{{ details['details'][2] }} {{ details['details'][3] }}</h3>
                <h3>{{ details['details'][5] }}</h3>
                <h3>{{ details['details'][7] }}</h3>
                <p>{{ details['desc'] }}</p>
                <a href="{{ details['risk_factor_link'] }}" target="_blank" rel="noopener noreferrer" class="button"><b>Enviromental Risk Factors</b></a>
                <a href="{{ details['internet_link'] }}" target="_blank" rel="noopener noreferrer" class="button"><b>Local Internet Providers</b></a>
                <a href="{{ details['link'] }}" target="_blank" rel="noopener noreferrer" class="button"><b>Realtor Listing</b></a>
            </div>
        </div>
    </div>
</body>
<footer>
    <p style="color: white; height: auto;">Made with ❤️ by Samuel Facey 2022</p>
</footer>
</html>