<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Property View</title>
</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
            <img src="{{ details['img'] }}" alt="">
            <h3>{{ details['address'] }}</h3>
            <h4>{{ details['price'] }}</h4>
            <h5>{{ details['details'] }}</p>
            <p>{{ details['desc'] }}</p>
        </div>
    </div>
</body>
</html>